<form action="/sessions/create" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

  Email: <input type="text" name="Email">

  Password: <input type="text" name="Password">

  <button type="submit" value="Log In">Log In</button>

</form>


<%= flash[:errors] %>
